{% extends 'base.html.twig' %}

{% block body %}
    {% if games %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Tytuł
                </th>
                <th>
                    Treść
                </th>
                <th>
                    Ustawienia
                </th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                {% if game.genre is same as('rpg_genre') %}

                <tr>
                    <td>
                        {{ game.title }}
                    </td>
                    <td>
                        {{ game.body }}
                    </td>
                    <td>
                        {% if game.userId is same as(id) %}
                            <a href={{ path('delete_game', {'id': game.id}) }} class="btn btn-danger">-</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak gier do wyświetlenia</p>
    {% endif %}

    <a class="btn btn-dark" href={{ path('new_game', {'id': id ,'genre': 'rpg_genre'}) }}>+</a>
{% endblock %}