<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">GameReqs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('categories') }} >Kategorie</a>
                </li>
                <li class="nav-item">
                    <a href={{ path('signingUP') }} class="nav-link">Zarejestruj</a>
                </li>
                <li class="nav-item">
                    <a href={{ path('app_login') }} class="nav-link">Zaloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>